.chatapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .phone {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
  }
  
  .header {
    padding-bottom: 23px;
    border-bottom: 1px solid #ccc;
  }
  
  .messages {
    width: 500px;
    height: 600px; 
    overflow-y: auto;
    padding-right: 20px;
    margin-right: -10px;
    scrollbar-color: #aaa #f0f0f0; 
  }
  
  .message {
    background-color: #ff8e31;
    box-shadow: 6px 6px 5px rgba(54, 11, 124, 0.11);
    border-radius: 15px;
    padding: 8px 20px;
    margin-bottom: 10px;
  }
  
  .message-content {
    word-wrap: break-word;
    overflow: hidden;
  }
  
  .input-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .messages::-webkit-scrollbar {
    width: 8px; 
  }
  
  .messages::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px; 
  }
  